h4.modal-title{
text-align:center;
}

.modal-content{
border-radius:0px;
width: 400px;
}

.modal-header{
padding: 18px 10px 10px 0px;
background: #fcf0e2;
color: #b93007;
}

.modal-body{
float: left;
padding:5px 10px;
}
.modal-body .inputs{

color:#b93007;
width:330px;
border-bottom: 1px solid rgba(185, 48, 7, 0.19);
}

#val_sel{
padding:0px;
margin:0px;
float: left;
width: 100%;
list-style-position: inside;


}

#val_sel .sel{
width: 161px;
height: 35px;
float: left;
margin: 20px 0px 0px 1%;

}
#val_sel .sel:before{
 color: red;
}
.row{
width: 0px;
float: left;
}

.col-lg-6{
 width: 48%;
 border-radius:0px;
 margin-left: 2%;
}

.form-control{
 padding:5px;
}

.input-group-btn {
	margin: -15px 0px 0px 14px;
float: left;
width: 147px;
}

.freeouts{
width: 98%; margin-top: 10px;
}

.bfouts{
width: 100%;
border-radius: 3px!important;
}
.dropdown-menu {
min-width: 147px;
width: 147px;
}

._jsPlumb_endpoint_anchor_{
position: absolute!important;
}

.R:before{
 content:'R';
}
.S:before{
 content:'S';
}
.C:before{
 content:'C';
}
.D:before{
 content:'D';
}
.J:before{
 content:'J';
}
.K:before{
 content:'K';
}
.neg{
margin-top:20px;
}

/*  Модалка очистки  */
#DelOrNot{
display:none;
padding : 10px;
position:absolute;
z-index:1000;
top:160px;
left:40%;
width:250px;
height:120px;
background:#888;
color:white;
}

#DelOrNot button{
position:absolute;
width:100px;
}

#delNo{
right:10px;
}
#delOk{
left:10px;
}

.delP{
margin:0px;
}
.delText{
padding-top:5px;
text-align:center;
width:100%;
height:40px;
border-bottom: 2px solid #10cbfa;
margin-bottom: 20px;
}

.delBut{
position:relative;
width:100%;
height:50px;
}

/* Dynamic modal */
#dynMod{
display:none;
padding : 10px;
position:absolute;
z-index:1000;
top:160px;
left:40%;
width:300px;
height:350px;
background:#888;
color:white;
}

#dynMod ul{
color:black;
width:100px;
min-width:100px;	
}

#dynMod .input-group-btn{
width:100px;
margin-top: 0px;
}
#dynMod .input-group-btn:last-child{
margin-right:14px;
}
#dynMod .input-group-btn p{
text-align:center;
margin:0px;
}
#drops{
float:left;
padding:0px 17px;
}

#drops button{
margin:3px 10px 3px 0px;
}

#dynBut{
float:left;
padding:0px 58px;
margin-top:13px;
}

/* Dynamic modal */
#samples{
display:none;
padding : 10px;
position:absolute;
z-index:1000;
top:160px;
left:40%;
width:270px;
height:170px;
background:#888;
color:white;
}

.sampleA{
text-decoration:none;
color: white;
}

.sampleA:hover{
text-decoration:none;
color: #10cbfa;
cursor:default;
}

#sampleImg1{
display:none;
position:absolute;
z-index:1000;
top:0px;
left:110%;
}

#sampNo{
position:absolute;
right:20px;
}

p.divider{
float: left;
width: 100%;
text-align: center;
border-bottom: 1px solid#bbb;
}
ul.steps{
width: 215px!important;
background: rgba(255, 255, 255, 0.93);
}




#modelResult {
display: none;
padding: 10px;
position: absolute;
z-index: 1000;
top: 160px;
left: 50%;
margin-left: -250px;
width: 500px;
height: 320px;
background: rgba(58, 43, 38, 0.86);
color: white;
}

.modelContentItem{
width: 100%;
float: left;
background: rgba(22, 21, 21, 0.49);
padding: 10px 1%;
}
p.mcSign{
float: left;
text-align: center;
width: 100px;
}
table.timeSteps{
float: right;
width: 370px;
height: 30px;
border-bottom: 2px solid rgba(121, 238, 121, 0.44);
}

td.s1{
background: rgba(121, 238, 121, 0.44);
}

.closeRes{
float: left;
text-align: center;
width: 100%;
margin: 30px 0px 0px;
}