body{
margin: 0px;
padding: 0px;
border: 0px;
width: 100%;
min-width: 1000px;
font-family: 'Open Sans';
background: url(../elems/bg.jpg) fixed;
background-size: 100%;
padding-top:15px;
}
.top-infos{
text-align: center;
float: left;
width: 100%;
}
#logotype{
float: left;
}
#fspinner{
	display: none;
}
.top-infos i.fa{
margin: 0 auto;
font-size: 28px;
margin-left: -15px;
left: 50%;
position: absolute;
color: #fff;
}

.topM{
background: rgba(238, 238, 238, 0.9);
display: block;
float: left;
width: 100%;
}

.topM .btn{
margin: 0px 10px;
float: left;
}

.topM .btn i.fa{
	margin-top:5px;
	font-size: 20px;
	float: left;
	color: rgb(89, 185, 135);
}
.topM .btn p{
	float: left;
	margin: 6px 0px 0px 10px;
}
.topM .btn:hover p{
	border-bottom: 1px solid;
}
.topM .btn:hover i{
	color: rgb(28, 136, 80);
}

.topM span{
	height: 44px;
	width: 1px;
	background: #bbb;
	float: left;
}
#mainContainer{
border:5px solid rgba(129, 52, 52, 0.29);
background: #eee;
height: 500px;
width: 94%;
margin: 0 3%;
padding-top: 10px;
float: left;
min-width: 1200px;
}

#signals{
border-right: 1px solid#ddd;
float: left;
width: 95px;
height: 100px;

}
div.label{
	border: 1px solid#888;
	color: #888;
	padding: 3px 10px;
	border-radius: 3px;
	float: left;
	margin: 5px;
}
div.label p{
	color: #555;
	float: left;
	margin: 2px 0px 2px 0px;

}

.siSignal{
	
	border: 1px solid #888;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	margin: 4px 0px 5px 7px;
	float: right;

}

#siOne{background:rgb(253, 74, 74);}
#siTwo{background:rgb(177, 211, 41);}

#elementsField{
	
	width: 1000px;
	height: 500px;
	float: left;
	margin-left: 30px;
}

.firstLineElems{
	height: 150px;
	width: 100%;
	border-bottom: 1px solid#ddd;
	margin-bottom: 10px;
}

button{
background: none;
border: none;
}
#and1{
/*background: url(../elems/3i-ne.png);*/
}
.fl-elem{
	float: left;
	min-height: 80px;
	margin: 0px 0px 0px;
	z-index: 1;
}

.fl-elem img{
	
	width: 80px;

}

.fl-elem2{
	position: absolute;
	z-index: 0;
}
.fl-elem2.sos img{
	width: 120px;
}

/*============new=========*/

.containerStation{
	float: left;
	background: #ddd;
	width: 100%;
	min-height: 600px;
}
#elemField{
	float: left;
	background: #fff url(grid5.png);
	width: 80%;
	min-height: 600px;
	position: relative;
}

#objects{
	float: left;
	background: #ccc;
	width: 20%;
	min-width: 200px;
	min-height: 600px;
	
}

.elem-menu {
    display:none;
	width:100%;
	float:left;
	
}
.open{
display:block;
}

p.objTitle{
	width: 100%;
	text-align: center;
	font-size: 20px;
	padding: 10px 0px;
	margin: 20px 0 10px;
	border-bottom: 1px solid#bbb;
	position: relative;
	float: left;
	
}

i.fa-angle-down{
   opacity:0.8;
   position: absolute;
   top:8px;
   right: 15px;
   
   -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
           transition-duration: 0.5s;
}


i.fa-angle-down:hover{
   opacity:1;
}



.rot{
-webkit-transform: rotate(180deg); 
   -moz-transform: rotate(180deg); 
    -ms-transform: rotate(180deg); 
     -o-transform: rotate(180deg); 
        transform: rotate(180deg); 
        
-webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
        transition-duration: 0.5s;

}


.size img{
width:75px;
height:75px;
}
img.preview{
	display: none;
}
img.general{
	margin: 20px 0px 0px;
}
.size img.preview{
	display: block;
}
.size img.general{
	display: none;
}

.idp{
margin: 0px 0px 0px;
text-align: center;
font-weight: bold;
font-size: 12px;
}

.nump{
position: absolute;
bottom: 13px;
width: 100%;
text-align: center;
color: #bf7159;
font-size: 12px;

}

.pinp{
position: absolute;
left: 5px;
top: 22px;
font-size: 12px;
}

.pout{
position: absolute;
top: 22px;
right: 8px;
font-size: 12px;
}

.elDescr{
	position: relative;

}

#infoMess{	
	display: none;
	float: right;
	margin: 10px 10px 0px 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	background: rgba(238, 238, 238, 0.68);
	border-radius: 3px;
	padding: 18px 35px;

}
#infoMess.AlGreen{
	background: rgba(13, 139, 38, 0.68);
	display: block;
}
#infoMess.AlRed{
	background:rgba(197, 10, 10, 0.68);
}
#infoMess p{margin: 0px;color: #fff;}
#infoMess p.green{
	color: rgb(14, 167, 14);
}
#infoMess p.red{
	color:rgb(240, 46, 46);
}

.canv{
border: none!important;
float: right!important;
padding:0px;
width: 245px;
}
#canv1{
margin-top:0px;
float:right;
height: 22px;
width: 180px;
}
#canv2{
margin-top:0px;
float:right;
height: 22px;
width: 180px;
}

.signalsCanv{
float: right;
height: 22px;
width: 180px;
position: absolute;
z-index: 1;
right: 10px;
}
#canv3{
margin-top: 62px;
}

.divC{
float:left;
margin: 0px 10px;
position:absolute;
}
.divC div{
	margin: 3px;
}
.divC div .siSignal {
	margin: 4px 0px 0px 4px;
}
.divC div:last-child{
position:absolute;
top:20px;
}

.divC img{
float:left;
margin:5px;
}

div.divC p.pC{
margin:1px;
font-size:12px;
text-align:center;
}
._jsPlumb_connector  {
    opacity: 0.5; /* or whatever... */
}